<a href="https://colab.research.google.com/github/dcovarru/Python/blob/master/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#####################
# Import packages
#####################

import pandas as pd
import dateutil
import datetime

In [0]:
#####################
# Import NYT data 
#####################

covidData = pd.read_csv('https://github.com/nytimes/covid-19-data/raw/master/us-counties.csv')

# https://github.com/nytimes/covid-19-data
# https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

#####################
# helper sites #
#####################

# https://medium.com/@deallen7/managing-date-datetime-and-timestamp-in-python-pandas-cc9d285302ab#83e5
# https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [0]:
# ensure Date is data
# covidData.dtypes
# covidData['date'] = covidData['date'].apply(dateutil.parser.parse, dayfirst=True)
covidData['date_dtFormat'] = pd.to_datetime(covidData['date'])
# covidData

In [0]:
covidData.dtypes

date                     object
county                   object
state                    object
fips                    float64
cases                     int64
deaths                    int64
date_dtFormat    datetime64[ns]
dtype: object

In [0]:
#####################
# ETL data 
#####################
covidData[['date_dtFormat']]
covidData.loc[:,['date_dtFormat']]

       date_dtFormat
0         2020-01-21
1         2020-01-22
2         2020-01-23
3         2020-01-24
4         2020-01-24
...              ...
118338    2020-05-05
118339    2020-05-05
118340    2020-05-05
118341    2020-05-05
118342    2020-05-05

[118343 rows x 1 columns]

In [0]:
#####################
# Aggregate by Week
#####################

# covidData.tail(30)
# df['date_time'].dt.strftime('%Y-%U')
# covidData['date_dtFormat'].dt.strftime('%Y-%w')
covidData['date_dtFormat2'] = covidData['date_dtFormat'].dt.strftime('"%A %d %B %Y"')
# covidData['date_dtFormat'].dt.strftime('%b %d %Y')

# Extract Week
## covidData['data_week'] = covidData['date_dtFormat'].dt.week
# Extract Month
## covidData['data_month'] = covidData['date_dtFormat'].dt.month

In [0]:
covidData[(covidData.state == 'Texas') & (covidData.county=='Bexar')]

              date county  ... date_dtFormat                date_dtFormat2
143     2020-02-12  Bexar  ...    2020-02-12  "Wednesday 12 February 2020"
154     2020-02-13  Bexar  ...    2020-02-13   "Thursday 13 February 2020"
165     2020-02-14  Bexar  ...    2020-02-14     "Friday 14 February 2020"
176     2020-02-15  Bexar  ...    2020-02-15   "Saturday 15 February 2020"
187     2020-02-16  Bexar  ...    2020-02-16     "Sunday 16 February 2020"
...            ...    ...  ...           ...                           ...
106280  2020-05-01  Bexar  ...    2020-05-01          "Friday 01 May 2020"
109148  2020-05-02  Bexar  ...    2020-05-02        "Saturday 02 May 2020"
112023  2020-05-03  Bexar  ...    2020-05-03          "Sunday 03 May 2020"
114907  2020-05-04  Bexar  ...    2020-05-04          "Monday 04 May 2020"
117791  2020-05-05  Bexar  ...    2020-05-05         "Tuesday 05 May 2020"

[84 rows x 8 columns]

In [0]:
####################
# Create aggreate Week Month Counts (yay...)
#####################

# df.groupby(['Name', 'Fruit'])['Number'].agg('sum')
# covidData.groupby(['data_week']).sum()
#################################################
# Below is aggregate the sum by dimensions 
#################################################
# covidData_aggState = covidData.groupby(['state','data_week'])['deaths'].agg('sum').to_frame().reset_index()

covidData_aggState = covidData.groupby(['state','county','data_week'], as_index=False)['deaths'].sum()

In [0]:
# covidData_aggState.to_frame().reset_index()
## covidData_aggState[covidData_aggState.state=='Texas']
covidData_aggState[(covidData_aggState['state'] == "Texas") & (covidData_aggState['county'].isin(['Bexar']))]

       state county  data_week  deaths
16559  Texas  Bexar          7       0
16560  Texas  Bexar          8       0
16561  Texas  Bexar          9       0
16562  Texas  Bexar         10       0
16563  Texas  Bexar         11       0
16564  Texas  Bexar         12       1
16565  Texas  Bexar         13      21
16566  Texas  Bexar         14      64
16567  Texas  Bexar         15     145
16568  Texas  Bexar         16     248
16569  Texas  Bexar         17     289
16570  Texas  Bexar         18     326
16571  Texas  Bexar         19     100

In [0]:
#################################################
# Difference data to get weekly volume 
#################################################

# covidData_aggState[(covidData_aggState['state'] == "Texas") & (covidData_aggState['county'].isin(['Bexar']))]['deaths'].diff(periods=1)
covidData_aggState[(covidData_aggState['state'] == "Texas") & (covidData_aggState['county'].isin(['Bexar']))]['deaths']

16559      0
16560      0
16561      0
16562      0
16563      0
16564      1
16565     21
16566     64
16567    145
16568    248
16569    289
16570    326
16571    100
Name: deaths, dtype: int64

In [0]:
#####################
# Create Model with metrics?
#####################

In [0]:
#####################
# Trend Diagnostics
#####################