<a href="https://colab.research.google.com/github/dcovarru/Python/blob/master/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#####################
# Import packages
#####################

import pandas as pd
import dateutil
import datetime

In [0]:
#####################
# Import NYT data 
#####################

covidData = pd.read_csv('https://github.com/nytimes/covid-19-data/raw/master/us-counties.csv')

# https://github.com/nytimes/covid-19-data
# https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

#####################
# helper sites #
#####################

# https://medium.com/@deallen7/managing-date-datetime-and-timestamp-in-python-pandas-cc9d285302ab#83e5
# https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [0]:
# ensure Date is data
# covidData.dtypes
# covidData['date'] = covidData['date'].apply(dateutil.parser.parse, dayfirst=True)
covidData['date_dtFormat'] = pd.to_datetime(covidData['date'])
# covidData

In [4]:
covidData.dtypes

date                     object
county                   object
state                    object
fips                    float64
cases                     int64
deaths                    int64
date_dtFormat    datetime64[ns]
dtype: object

In [5]:
#####################
# ETL data 
#####################
covidData[['date_dtFormat']]
covidData.loc[:,['date_dtFormat']]

       date_dtFormat
0         2020-01-21
1         2020-01-22
2         2020-01-23
3         2020-01-24
4         2020-01-24
...              ...
118338    2020-05-05
118339    2020-05-05
118340    2020-05-05
118341    2020-05-05
118342    2020-05-05

[118343 rows x 1 columns]

In [0]:
#####################
# Aggregate by Week
#####################

# covidData.tail(30)
# df['date_time'].dt.strftime('%Y-%U')
# covidData['date_dtFormat'].dt.strftime('%Y-%w')

# Extract Week
covidData['data_week'] = covidData['date_dtFormat'].dt.week
# Extract Month
covidData['data_month'] = covidData['date_dtFormat'].dt.month

In [62]:
covidData[covidData.state == 'Texas'].tail(30)

              date      county  state  ...  date_dtFormat  data_week  data_month
117965  2020-05-05      Taylor  Texas  ...     2020-05-05         19           5
117966  2020-05-05       Terry  Texas  ...     2020-05-05         19           5
117967  2020-05-05       Titus  Texas  ...     2020-05-05         19           5
117968  2020-05-05   Tom Green  Texas  ...     2020-05-05         19           5
117969  2020-05-05      Travis  Texas  ...     2020-05-05         19           5
117970  2020-05-05     Trinity  Texas  ...     2020-05-05         19           5
117971  2020-05-05       Tyler  Texas  ...     2020-05-05         19           5
117972  2020-05-05      Upshur  Texas  ...     2020-05-05         19           5
117973  2020-05-05      Uvalde  Texas  ...     2020-05-05         19           5
117974  2020-05-05   Val Verde  Texas  ...     2020-05-05         19           5
117975  2020-05-05   Van Zandt  Texas  ...     2020-05-05         19           5
117976  2020-05-05    Victoria  Texas  ...     2020-05-05         19           5
117977  2020-05-05      Walker  Texas  ...     2020-05-05         19           5
117978  2020-05-05      Waller  Texas  ...     2020-05-05         19           5
117979  2020-05-05  Washington  Texas  ...     2020-05-05         19           5
117980  2020-05-05        Webb  Texas  ...     2020-05-05         19           5
117981  2020-05-05     Wharton  Texas  ...     2020-05-05         19           5
117982  2020-05-05     Wheeler  Texas  ...     2020-05-05         19           5
117983  2020-05-05     Wichita  Texas  ...     2020-05-05         19           5
117984  2020-05-05   Wilbarger  Texas  ...     2020-05-05         19           5
117985  2020-05-05     Willacy  Texas  ...     2020-05-05         19           5
117986  2020-05-05  Williamson  Texas  ...     2020-05-05         19           5
117987  2020-05-05      Wilson  Texas  ...     2020-05-05         19           5
117988  2020-05-05     Winkler  Texas  ...     2020-05-05         19           5
117989  2020-05-05        Wise  Texas  ...     2020-05-05         19           5
117990  2020-05-05        Wood  Texas  ...     2020-05-05         19           5
117991  2020-05-05      Yoakum  Texas  ...     2020-05-05         19           5
117992  2020-05-05       Young  Texas  ...     2020-05-05         19           5
117993  2020-05-05      Zapata  Texas  ...     2020-05-05         19           5
117994  2020-05-05      Zavala  Texas  ...     2020-05-05         19           5

[30 rows x 9 columns]

In [0]:
####################
# Create aggreate Week Month Counts (yay...)
#####################

# df.groupby(['Name', 'Fruit'])['Number'].agg('sum')
# covidData.groupby(['data_week']).sum()
#################################################
# Below is aggregate the sum by dimensions 
#################################################
# covidData_aggState = covidData.groupby(['state','data_week'])['deaths'].agg('sum').to_frame().reset_index()

covidData_aggState = covidData.groupby(['state','county','data_week'], as_index=False)['deaths'].sum()

In [85]:
# covidData_aggState.to_frame().reset_index()
## covidData_aggState[covidData_aggState.state=='Texas']
covidData_aggState[(covidData_aggState['state'] == "Texas") & (covidData_aggState['county'].isin(['Bexar']))]

       state county  data_week  deaths
16559  Texas  Bexar          7       0
16560  Texas  Bexar          8       0
16561  Texas  Bexar          9       0
16562  Texas  Bexar         10       0
16563  Texas  Bexar         11       0
16564  Texas  Bexar         12       1
16565  Texas  Bexar         13      21
16566  Texas  Bexar         14      64
16567  Texas  Bexar         15     145
16568  Texas  Bexar         16     248
16569  Texas  Bexar         17     289
16570  Texas  Bexar         18     326
16571  Texas  Bexar         19     100

In [0]:
#####################
# Create Model with metrics?
#####################

In [0]:
#####################
# Trend Diagnostics
#####################